body{
    background: #0F213D;
}

.sect1{
    margin: 100px auto;
    width: 800px;
    padding: 400px 100px;



}

header{
    padding: 5px 50px;
    text-align: center;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}