#gambar{
    width: 20%;
    padding: 0px 40%;

}

.bottom{
    border: 0px;
   border-radius: 40px;
   padding: 10px 20px;
    text-decoration: none;
    color: white;
   font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 40px;
   
}


button:hover{
    background: #1D6F87;
}

button{
    width: 400px;
    height: 80px;
    margin: 20px 200px;
    background: #B37071;
}

.numb{
    font-size: 50px;
    text-align: center;
    color: white;
}

.copy{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.an{
    text-align: center;
    font-size: 30px;
    color: #D4C4B4;
}
